name: Build APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install system deps
        run: |
          sudo apt update
          sudo apt install -y \
            openjdk-17-jdk \
            unzip zip git \
            build-essential \
            libffi-dev libssl-dev
          pip install --upgrade pip
          pip install cython buildozer

      - name: Setup Android SDK & NDK r25b
        uses: android-actions/setup-android@v3
        with:
          api-level: 31
          ndk-version: 25.2.9519653
          accept-android-sdk-licenses: true

      - name: Force NDK for buildozer
        run: |
          echo "ANDROIDNDK=$ANDROID_NDK_HOME" >> $GITHUB_ENV
          echo "ANDROIDSDK=$ANDROID_SDK_ROOT" >> $GITHUB_ENV

      - name: Build APK
        run: |
          buildozer -v android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: MyApp-APK
          path: .buildozer/android/platform/build/dists/**/bin/*.apk
